
 html, body {
  height: 100%;
  text-transform: capitalize;
  background-color: #2a2a72;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
} 

.scroll {
  margin:4px, 4px;
  padding:4px;
  
  width: 500px;
  height: 70%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}
.centerv{
  display: flex;
  align-items: center;
  justify-content: center;
}
.htp{
  width: 75%;
  border: 2px solid darkblue;
  padding: 50px;
  margin: auto;
  position:relative;
  margin-bottom: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  text-align: left;
}

.score_canva{
  width: 20%;
  padding: 20px;
  background-color: rgb(236, 236, 236);
  border-radius: 5%;
  margin-left: 7%;
  margin-top: 5%;
  font-size: larger;
  position:relative;
  border-width: 2px;
  margin-bottom: 30px;  
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-weight: 550;
}
h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}
.nine h1 {
  text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:400;
}
.nine h1 span {
  margin-top: 5px;
    font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
    text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.nine h1 span:after,.nine h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
  background-color:#f8f8f8;
}
/* button{
  color:#fff;
  text-align: center;
  padding: 20px;
}

p{
  color:#fff;
  text-align: center;
  padding-top: 500px;
  font-size: 10px;
}

a{
   text-decoration:none;
   color:#fff;
}

a:hover{
   color:#2ecc71;
}

.main{
  width: 100%;
}

.sub-main{
  width: 30%;
  margin:22px;
  float: left;
}

.button-one, .button-two, .button-three{
  text-align: center;
  cursor: pointer;
  font-size:24px;
  margin: 0 0 0 100px;
}
*/


/*Button One*/
.button-one {
  padding:20px 60px;
  outline: none;
  background-color: #27ae60;
  border: none;
  border-radius:5px;
  box-shadow: 0 9px #95a5a6;
}

.button-one:hover{
  background-color: #2ecc71;
}

.button-one:active {
  background-color: #2ecc71;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}


/*Button Two*/
.button-two {
  border-radius: 4px;
  color: white;
  font-weight: 600;
  background-color:#0b68b4;
  border: none;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
}


.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-two span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-two:hover span {
  padding-right: 25px;
}

.button-two:hover span:after {
  opacity: 1;
  right: 0;
}



.tol_canvas {
    width: 0vw;
    height: 80vh;
    position:absolute;
    top:50%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%,-50%);
  }
  .instruct{
    margin:auto;
    height: 90%;
    width: 80%;
    background-color: rgb(127, 204, 255);
    text-align: center;
    position: relative;
    border-radius: 15px;
    padding: 50px;
    margin-top:3rem;


    }
    .fix{
        font-size: 18px;
    font-weight: 600;
    padding: 1.6rem;
    font-family: 'Roboto', sans-serif;

    }
  .text1{
    margin: 0 auto;
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 600;
    padding: 0;
  }
  .text2{
    width: 70%;
    background-color: rgba(94, 182, 255, 0.494);
    border: 2px solid darkblue;
    padding: 50px;
    margin: auto;
    position:relative;
    margin-bottom: 30px;  
      font-weight: 650;
      font-family: 'Roboto', sans-serif;
      font-size: larger;
    }
  .tol_goal_board {
    width: 30vw;
    height: 24vw;
    position:absolute;
    top:60%;
    left:45%;
    transform: translate(-110%, -60%);
  }
  
  .tol_your_board {
    width: 30vw;
    height: 24vw;
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(10%,-60%);
  }
  
  .tol_base {
    width: 100%;
    height: 0.3rem;
    background-color: black;
    position:absolute;
    top:102%;
    /* border-radius: 10px; */

  }
  
  .tol_board_label {
    width: 50%;
    height: 2vw;
    position:relative;
    top: 105%;
    left: 50%;
    transform: translate(-50%,0%);
    font-size: 1.4rem;
    color: black;
    text-align:center; 
    font-weight: 550; 
  }
  
  #tol_peg_1 {
    width:20%;
    height: 75%;
    position:absolute;
    top:28%;
    left:7%;
    /* margin-right:-50%; */
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    
  }
  
  #tol_peg_2 {
    width:20%;
    height: 50%;
    position:absolute;
    top:53%;
    left:40%;
    /* margin-right:-50%; */
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
  }
  
  #tol_peg_3 {
    width:20%;
    height: 30%;
    position:absolute;
    top:73%;
    left:73%;
    /* margin-right:-50%; */
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
  }
  
  .tol_ball {
    width: 5.5vw;
    height: 5.5vw;
    background: red;
    -moz-border-radius: 2.5vw;
    -webkit-border-radius: 2.5vw;
    border-radius: 2.5vw;
    position: relative;
  }

  .tol_ball_peg {
    width: 5.5vw;
    height: 5.5vw;
    background: red;
    -moz-border-radius: 2.5vw;
    -webkit-border-radius: 2.5vw;
    border-radius: 2.5vw;
    position: relative;
  }
  
  .tol_hand_ball {
    width: 5vw;
    height: 5vw;
    background: red;
    -moz-border-radius: 2.5vw;
    -webkit-border-radius: 2.5vw;
    border-radius: 2.5vw;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .tol_ball_label {
    text-align:center;
    font-size: 1.9rem;
    position: relative;
    top: 20%;
    color: #ffffff;
    text-shadow: -1px 1px 0 #000,
                 1px 1px 0 #000,
                 1px -1px 0 #000,
                 -1px -1px 0 #000;
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
  }

  .tol_peg_ball_label {
    text-align:center;
    font-size: 1.9rem;
    position: relative;
    top: 20%;
    color: #ffffff;
    text-shadow: -1px 1px 0 #000,
                 1px 1px 0 #000,
                 1px -1px 0 #000,
                 -1px -1px 0 #000;
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
  }
  
  .tol_peg {
    width: 10%;
    height: 100%;
    background-color: black;
    margin-left: 37%;
    margin-right: 37%;
    position: relative;
    vertical-align: bottom;
    border-radius: 15px;
  }
  
  .tol_Red {
    background:  rgb(245, 60, 60);
    background: radial-gradient(circle, rgb(245, 60, 60) 0%, rgb(85, 16, 16) 100%); 
  }
  
  .tol_Green {
    background: rgb(84, 187, 93);
    background: radial-gradient(circle, rgba(58,242,55,1) 0%, rgba(9,52,30,1) 100%); 
  }
  
  .tol_Blue {

    background: rgb(93,139,255);
    background: radial-gradient(circle, rgba(93,139,255,1) 0%, rgba(22,11,65,1) 100%); 
  }
  
  .tol_hand_box {
    width: 10vw;
    height: 10vw;
    position:absolute;
    top:15%;
    left:75%;

    background-color: rgb(223, 223, 223);
    border-radius: 15px;
    border: 1px solid #606060;
    -moz-transform: rotate(80deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);

  }
  
  .tol_hand_label {
    width: 15vw;
    height: 10vw;
    position:absolute;
    top:10%;
    left:76%;
    margin-right:-50%;
    font-size: 20px;
  }
  
  .tol_topbox {
    width:60vw;
    height: 30vw;
    position:relative;
    top:50%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%,-60%);
    
    margin-bottom: 20px;
  }
  
  .tol_bottombox {
    height: auto;
    width: 75%;
    position:relative;
    top:12%;
    left:50%;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transform: translate(-50%,60%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    position: relative;
    margin-top: auto;
    padding: 1.2rem;
    margin-bottom: 10px;
    /* margin: auto; */

    background-color: rgba(255, 255, 255, 0.534);
  }
  .tol_bottombox:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .tol_feedbackbox {
    width:42vw;
    height: 10vh;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-400%);
  }
  
  .jspsych-instructions-nav {
    text-align: center;
    margin-top: 0px;
    position: relative;
    z-index: 1;
  }

